.App{
    display: flex;
    flex-direction: row;
}
.leftPannel{
    width:35%;
    height:720px;
    background-color: aqua;
}
.rightPannel{
    width:65%;
    background-color: rgb(237, 245, 245);
}